.DS_Store
/Practicas/nbproject/private/
/Practicas/build/
/Correccion_maven/nbproject/private/
/Complemento_Juan/nbproject/private/
/Complemento_Juan/build/
/Complemento_Juan/target/
/Ser novia/nbproject/private/
/Ser novia/build/
/history_work_5/target/
/HistoryWork_6/nbproject/private/
/History_work_6/target/
/carro/nbproject/private/
/parqueadero/nbproject/private/
/fecha/nbproject/private/
/proyecto_Parqueadero/nbproject/private/